$brand: #009688;
$brand-primary: rgba(2, 117, 170, 0.92);
$head-text: #ffffff;
$title-black: #000000;
//$brand: #2a659b;
//$brand: #2b2b74;
//$brand: #2a659b;
//$brand: #16253d;
$brand: #232754;
//$brand: #1a405f;
$yellow: #ffd454;
//$font-stack: 'Lato', sans-serif;
//$font-stack: 'PT Sans', sans-serif;
//$font-stack: 'Ubuntu', sans-serif;
$font-stack: 'Titillium Web', sans-serif;
//$font-stack: 'Roboto', sans-serif;
$fa: FontAwesome;


$enable-rounded:false;	
$enable-shadows:true;