a.social-item {
  color: #000;
}

div.author-meta {
  margin: 3rem;
}

i.icon-meta {
  font-size: 1rem;
}

div.author-caption {
  color: #adb0b0;
}

div.author-avatar {
  margin: 2rem;
}

div.author-title {
  background-color: rgba(12, 8, 8, 0.05);
}

div.card-title {
  background-color: rgba(12, 8, 8, 0.05);
}

footer.author-footer {
  background-color: rgba(12, 8, 8, 0.05);
  height: 5rem !important;
}
